.footer{
  background-color: #e7c200;
  padding: 10px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #e02b0b;
  color: white;
}
#smallLogo{
  height: auto;
  width: 200px;
  padding-top: 0px;

}
.navbar-brand{
  height: 80px;
}
.nav >li >a {
  padding-top: 30px;
  padding-bottom: 0px;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.img-header{
  height: 300px;
  padding-top: 0px;
  width: 100%;

}
.thumbnail-sec{
  padding-top: 100px;
}

.img-blog{
  width: 900px;
  height: 300px;
}

    body { padding-top: 50px; }
